# Sentry Variables
SENTRY_DSN=
SENTRY_URL=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=

# Email Variables
EMAIL_PORT=
HOST_NAME=
PASSWORD=
PERSONAL_EMAIL=
TLS=
USERNAME=

# OpenAI Variables
OPEN_AI_ORGANIZATION=
OPEN_AI_SECRET_KEY=

# Database Variables
DATABASE_URL=