@import "tailwindcss";

:root {
  /* Theme Variables */
  --background: #ffffff;
  --foreground: #171717;
  --selection: #2d6eee;
  --theme-switch: #facf3d;
  --highlight-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-selection: var(--selection);
  --font-sans: var(--font-geist-sans), Times, Times New Roman, serif;
  --font-mono: var(--font-geist-mono), Times, Times New Roman, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  :focus-visible {
    @apply outline-solid outline-2 outline-selection;
  }

  ::selection {
    @apply bg-selection text-white;
  }

  html,
  body {
    /* Using 'background-color' will make sure this value is applied to the iPhone notch area */
    background-color: var(--background);
    color: var(--foreground);
  }

  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    @apply font-sans text-xl font-bold leading-normal;
  }

  h2 {
    @apply font-sans text-lg font-bold leading-normal;
  }

  h3 {
    @apply font-sans text-lg font-bold leading-normal;
  }

  p {
    @apply font-sans leading-normal;
  }

  a {
    @apply font-sans underline decoration-dotted decoration-gray-300 underline-offset-5 opacity-100 hover:opacity-70 transition-opacity duration-200 cursor-pointer;
  }

  ul,
  ol {
    @apply font-sans list-disc list-inside;
  }
}
