@import "tailwindcss";

@theme {
  /* Overrides all custom color variables in Tailwind theme */
  --*: initial;

  /* Font Stacks */
  --font-sans: "Fira Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  --font-serif: "Libre Baskerville", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

  /* Colors */
  --color-alabaster: "#fafafa";
  --color-anti-flash-white: "#EBEBEB";
  --color-black: "#000000";
  --color-bright-sun: "#FACF3D";
  --color-burnt-sienna: "#ED6A5E";
  --color-casablanca: "#F5BF4F";
  --color-cod-gray: "#111010";
  --color-dove-gray: "#707070";
  --color-errie-black: "#171717";
  --color-manatee: "#8E8E90";
  --color-mantis: "#62C554";
  --color-mercury: "#E1E1E1";
  --color-mineshaft: "#333333";
  --color-outer-space: "#373A3D";
  --color-red: "red";
  --color-royal-blue: "#2D6EEE";
  --color-shark: "#202325";
  --color-silver: "#C2C2C2";
  --color-white: "#FFFFFF";

  /* App Dimensions */
  --app-horizontal-gutters: "3%";
  --app-max-width: "1400px";
  --article-hero-image-max-width: "1400px";
  --article-max-width: "600px";
  --contact-form-max-width: "650px";
  --footer-desktop-height: "108px";
  --footer-tablet-height: "164px";
  --footer-mobile-height: "90px";
  --modal-max-width: "600px";
  --navbar-desktop-height: "179px";
  --navbar-tablet-height: "179px";
  --navbar-mobile-height: "71px";

  /* Border Radii */
  --border-radius-nano: "2px";
  --border-radius-micro: "3px";
  --border-radius-small: "5px";
  --border-radius-medium: "8px";
  --border-radius-large: "15px";
  --border-radius-xlarge: "20px";
  --border-radius-xxlarge: "25px";
  --border-radius-jumbo: "35px";
  --border-radius-infinity: "9999px";

  /* Breakpoints */
  --breakpoint-sm: "400px";
  --breakpoint-md: "600px";
  --breakpoint-lg: "1000px";
  --breakpoint-xl: "1400px";
  --breakpoint-2xl: "1600px";

  /* Spaces */
  --space-nano: "2px";
  --space-micro: "3px";
  --space-xxs: "6px";
  --space-xs: "8px";
  --space-sm: "10px";
  --space-md: "20px";
  --space-lg: "40px";
  --space-sl: "50px";
  --space-xxl: "70px";
  --space-jumbo: "100px";

  /* Transitions */
  --transition-mini: "50ms";
  --transition-short: "100ms";
  --transition-medium: "300ms";
  --transition-long: "500ms";
}